body {
  background-color: whitesmoke;
}

#items {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 70%;
  margin: auto;
}

.row {
  margin: auto;
  margin-top: 40px;
}

.h1AndIcon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: rgb(22, 20, 20);
}

.fa {
  font-size: 24px;
  color: blue;
  cursor: pointer;
}

.likes {
  text-align: right;
  margin-top: 0;
  font-size: larger;
}

.buttons {
  text-align: center;
}

.button {
  height: 35px;
  width: 150px;
  margin: 10px;
  cursor: pointer;
}

footer {
  margin-top: 50px;
  border-top: thin solid black;
}

footer h3 {
  padding: 20px;
  padding-left: 100px;
}
